{% if not resource %}
<h3>{{ descriptor.service_name }}</h3>
<h4>{{ app }}/{{ version }}/{{ descriptor.slug }}</h4>
{% endif %}
{% if descriptor.data_parsing %}
<p><em>This is a data parsing function.  Params must be posted as serialized data.</em></p>
{% endif %}
{% if descriptor.security.permissions %}
<p><em>Permissions: {{ descriptor.security.permissions|join:" " }}</em</p>
{% endif %}
<div class="docs">
	{{ descriptor.docs|safe }}
</div>
{% if descriptor.params %}
<table class="params">
	<tr>
		<th>Parameter</th>
		<th>Type</th>
		<th>Required</th>
		<th>Default</th>
		<th>Description</th>
	</tr>
	{% for param in descriptor.params %}
	<tr>
		<td>{{ param.name }}</td>
		<td>{{ param.type }}</td>
		<td>{{ param.required|yesno:"Required,Not Required"}}</td>
		<td>{{ param.default }}</td>
		<td>{{ param.description }}</td>
	</tr>
	{% endfor %}
</table>
{% endif %}