<html>
	<head>
		<title>Directory</title>
		{% include 'sharrock/style.html' %}
	</head>
	<body>
		<div class="toc">
			<ul>
				{% for app,versions in descriptors.items %}
				<li>
					{{ app }}
					<ul>
						{% for version,services in versions.items %}
						<li>
							{{ version }}
							<ul>
								{% if services.resources %}
								{% for resource in services.resources %}
								<li>{{ resource }} (resource)</li>
								{% endfor %}
								{% endif %}
								{% if services.functions %}
								{% for descriptor in services.functions %}
								<li>{{ descriptor }}</li>
								{% endfor %}
								{% endif %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% for app,versions in descriptors.items %}
		<h1>{{ app }}</h1>
		{% for version,services in versions.items %}
		<h2>Version {{ version }}</h2>
		{% if services.resources %}
		<h2>Resources</h2>
		{% for resource in services.resources %}
		<div class="resource">
			{% include 'sharrock/resource_body.html' %}
		</div>
		{% endfor %}
		{% endif %}
		{% if services.functions %}
		<h2>Functions</h2>
		{% for descriptor in services.functions %}
		<div class="descriptor">
			{% include 'sharrock/descriptor_body.html' %}
		</div>
		{% endfor %}
		{% endif %}
		{% empty %}
		<p>Sorry, this version of the API doesn't exist.</p>
		{% endfor %}
		{% endfor %}
	</body>
</html>